body {
  width: 90vw;
  margin: 10px auto;
  padding: 20px;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='3000' height='3000' preserveAspectRatio='none' viewBox='0 0 3000 3000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3cpath d='M1142.05 0C1380.47 185.44 1289.28 583.33 1500 583.33C1749.5 583.33 1757.96 236.86 2062.5 0C2132.96 -54.8 2156.25 0 2250 0C2625 0 2779.02 -154.02 3000 0C3154.02 107.35 3098.67 315.53 3000 522.73C2920.1 690.53 2687.67 574.84 2642.86 750C2562.67 1063.48 2619.93 1178.93 2750 1500C2798.5 1619.72 2960.8 1513.99 3000 1631.58C3085.8 1888.99 3000 1940.79 3000 2250C3000 2609.69 3017.16 2617.71 3000 2969.39C2998.86 2992.71 2986.91 2999.04 2963.41 3000C2611.91 3014.35 2606.7 3000 2250 3000C1875 3000 1875 3000 1500 3000C1125 3000 1125 3000 750 3000C375 3000 209.13 3165.87 0 3000C-165.87 2868.45 -95.67 2644.36 0 2405.17C54.33 2269.36 162.85 2346.95 300 2250C537.85 2081.86 545.94 2082.6 750 1875C914.55 1707.6 1037.23 1681.22 1037.23 1500C1037.23 1336.75 937.11 1228.86 750 1186.05C418.49 1110.19 223.21 1392.44 0 1262.66C-151.79 1174.41 0 1006.33 0 750C0 375 -187.5 187.5 0 0C187.5 -187.5 375 0 750 0C946.03 0 1005.47 -106.23 1142.05 0' stroke='rgba(48%2c 132%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1500 2121.43C1419.38 2121.43 1312.5 2185.08 1312.5 2250C1312.5 2315.54 1419.75 2382.35 1500 2382.35C1554.41 2382.35 1581.82 2315.91 1581.82 2250C1581.82 2185.45 1554.04 2121.43 1500 2121.43' stroke='rgba(48%2c 132%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 339.62C253.38 339.62 750 572.77 750 750C750 915.62 278.89 1025.32 0 1025.32C-96.11 1025.32 0 887.66 0 750C0 544.81 -121.62 339.62 0 339.62' stroke='rgba(48%2c 132%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3000 238.64C2866.16 238.64 2596.15 64.12 2596.15 0C2596.15 -55.2 2873.08 -75 3000 0C3075 44.32 3068.09 238.64 3000 238.64' stroke='rgba(48%2c 132%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1436.17 1500C1436.17 1437.75 1442.69 1369.57 1500 1369.57C1641.27 1369.57 1833.33 1444.91 1833.33 1500C1833.33 1552.98 1651.53 1585.71 1500 1585.71C1452.95 1585.71 1436.17 1545.82 1436.17 1500' stroke='rgba(48%2c 132%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1922.73 2250C2097.5 1946.02 2001.6 1696.06 2250 1629.31C2540.24 1551.32 2722.85 1731.17 3000 1960.53C3097.85 2041.51 3000 2105.26 3000 2250C3000 2418.36 3084.79 2457.97 3000 2586.73C2837.84 2832.97 2774.4 2852.16 2506.1 3000C2399.4 3058.79 2378.05 3000 2250 3000C1875 3000 1875 3000 1500 3000C1125 3000 1125 3000 750 3000C375 3000 275.32 3099.68 0 3000C-99.68 2963.91 -91.79 2807.39 0 2728.45C283.21 2484.89 398.01 2306.81 750 2355C1148.01 2409.49 1182.8 2962.22 1500 2933.82C1769.17 2909.72 1722.5 2598.28 1922.73 2250' stroke='rgba(48%2c 132%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 693.4C34.95 693.4 103.45 725.56 103.45 750C103.45 772.84 38.47 787.97 0 787.97C-13.26 787.97 0 768.99 0 750C0 721.7 -16.78 693.4 0 693.4' stroke='rgba(48%2c 132%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M136.36 3000C136.36 2929.52 460.85 2730 750 2730C936.42 2730 1087.5 2924.19 1087.5 3000C1087.5 3059.19 918.75 3000 750 3000C443.18 3000 136.36 3064.52 136.36 3000' stroke='rgba(48%2c 132%2c 129%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='3000' height='3000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: 70% 35%;
  background-repeat: no-repeat;
}

/* @media (max-width: 1200px) {
  body {
    background-position: 70% -20%;
  }
} */

#header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-logo {
  height: 100%;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  list-style: none;
  color: #308481;
  font-size: 20px;
  font-family: monospace;
}

#navigation ul li a {
  color: #308481;
  font-size: 20px;
  text-decoration: none;
}

#navigation ul li a:hover {
  color: #d26850;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #308481;
  font-size: 20px;
  font-family: monospace;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero-headline {
  text-align: center;
  background-color: white;
}

#hero-copy {
  width: 50%;
  background-color: white;
}

#carousel {
  list-style: none;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 0px;
}

@media (max-width: 1300px) {
  #carousel {
    grid-template-columns: repeat(1, 1fr);
  }
}

#carousel-item {
  max-width: 30rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#carousel-item-image {
  max-width: 30rem;
}

#carousel-item-copy {
  height: 30%;
  margin: 10px 0px 10px 0px;
  text-align: center;
  background-color: white;
}

#footer {
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  color: #308481;
  font-size: 20px;
  font-family: monospace;
}

#footer-logo {
  height: 100%;
}
